main{
    padding: 30px 0;
    display: flex;
    align-items: center;
    min-height: 80vh!important;
}

h3 {
    margin-top: 15px!important;
}

.pag_list{
    flex-direction: column;
}

.pag_list a{
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
}

.info{
    padding: 20px 0;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    height: 60px;
    display: flex;
    align-items: center;
}

hr{
    margin: 20px 0;
}

@media print {
    /* Esconder o botão de impressão */
    ul.navbar-nav , .pag_new a, .pag_list a, .btn {
        display: none;
    }

    /* Ajustar margens para impressão */
    body {
        margin: 0;
        padding: 1cm;
    }

    /* Ajustar fontes para melhor visualização em papel */
    .container {
        font-size: 12pt;
    }

    footer{
        display: none;
    }
}