.table_view{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbarNav {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end!important;
}

.pag_new {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    justify-content: space-between;
}

.pag_new a {
    padding: 15px;
    border-radius: 5px;
    color: var(--default_footer_color);
    background-color: var(--default_btn);
    text-decoration: none;
    font-weight: 600;
}

div#table {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

table {
    width: 100%;
}

table tbody {
    background-color: var(--default_table_background);
}

table,
th,
tr,
td {
    border: 1px solid var(--default_table_border);
}

th {
    background-color: var(--default_table_th);
}

th,
td {
    padding: 10px;
}

.th_id {
    width: 50px;
}

ul{
    list-style: none;
    margin: 0;
}

.acoes a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.email_tel {
    display: flex;
    justify-content: space-between;
}

.nome_tel,
.tel_nif,
.morada {
    width: 80% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.morada {
    flex-direction: column;
}

.nome,
.email,
.tel,
.nif,
.morada,
.esp {
    width: 45%;
}