.table_view{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbarNav {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end!important;
}

.pag_new {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    justify-content: space-between;
}

.pag_new a {
    padding: 15px;
    border-radius: 5px;
    color: var(--default_footer_color);
    background-color: var(--default_btn);
    text-decoration: none;
    font-weight: 600;
}

div#table {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

table {
    width: 100%;
}

table tbody {
    background-color: var(--default_table_background);
}

table,
th,
tr,
td {
    border: 1px solid var(--default_table_border);
}

th {
    background-color: var(--default_table_th);
}

th,
td {
    padding: 10px;
}

.th_id {
    width: 50px;
}

ul{
    list-style: none;
    margin: 0;
}

.acoes a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.email_tel {
    display: flex;
    justify-content: space-between;
}

.nome_tel,
.tel_nif,
.morada {
    width: 80% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.morada {
    flex-direction: column;
}

.nome,
.email,
.tel,
.nif,
.morada,
.esp {
    width: 45%;
}

nav.flex.items-center.justify-between {
    width: 100vw;
    height: 5vh;
    padding: 15px 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

span.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5.dark\:bg-gray-800.dark\:border-gray-600, a.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150.dark\:bg-gray-800.dark\:border-gray-600.dark\:active\:bg-gray-700.dark\:focus\:border-blue-800 {
    display: none;
}